html, body, .viewport, #root {
    width: 100%;
    height: 100%;
    margin: 0;
}

#loginFormContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5efe0;
}

#loginFormContainer h1 {
    color: #fa463c
}
input {
    border: solid 1px #ccc;
}
#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}