.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  margin: 0.3em;
}

#estimatesCheckbox {
  display: inline;
}

#loginForm p {
  display: block;
}

.MovieTable td {
  padding: 0.3em;
}

.moviePosterImage {
  width: 3em;
  height: 4.5em;
}

table {
  border-collapse: collapse;
}
td, th, table {
  border: #ffffff;
  border-style: solid;
  border-width: 0.1em;
}